<!DOCTYPE html>

<html>
    <head>
        <link href="./style.css" type="text/css" rel="stylesheet">
        <h1>FREE ROBUX HACKS</h1>
    </head>
    <body>
        <img src="./media/fakerobux.jpg" width="426" height="240">
        <p>The Best Free Robux Hack on the INTERNET!!!</p>
        <h3><a id="start" href="./generator">START NOW!</a></h3>
        <h2>Why us?</h2>
        <p>We provide the safest and the most efficent robux hacks. With the instand dilivery, you don't need to be worried about if you're getting the robux or not. If there have any issue go <a href="./report.html"><a> to report any issue.</p>
    </body>
</html>